.button {
    -fx-background-color: linear-gradient(#5C92D1, #3269A8); /* Dégradé bleu clair à bleu foncé */
    -fx-background-radius: 10; /* Coins arrondis */
    -fx-border-color: #27497A; /* Bordure bleu marine */
    -fx-border-width: 3; /* Épaisseur de la bordure */
    -fx-border-radius: 10; /* Coins arrondis pour la bordure */
    -fx-padding: 10 15; /* Espacement intérieur */
    -fx-font-family: "Arial", sans-serif; /* Police du texte */
    -fx-font-size: 12px; /* Taille de la police */
    -fx-font-weight: bold; /* Texte en gras */
    -fx-text-fill: white; /* Couleur du texte */
    -fx-effect: dropshadow(gaussian, #000000, 5, 0.5, 0, 2); /* Ombre pour effet de relief */
}
.button:pressed {
    -fx-effect: dropshadow(gaussian, #000000, 5, 0.5, 0, 2); /* Réduction de l'ombre au clic */
    -fx-translate-y: 2; /* Déplacement vers le bas pour effet de clic */
}
