.button {
    -fx-background-color: linear-gradient(#A6DFFF, #1A4876); /* Dégradé bleu clair à bleu foncé */
    -fx-background-radius: 10; /* Coins arrondis */
    -fx-border-color: #0F3558; /* Bordure bleu marine */
    -fx-border-width: 3; /* Épaisseur de la bordure */
    -fx-border-radius: 10; /* Coins arrondis pour la bordure */
    -fx-padding: 10 20; /* Espacement intérieur */
    -fx-effect: dropshadow(gaussian, #0C2B45, 10, 0.5, 0, 4); /* Ombre pour effet de relief */
    -fx-cursor: hand; /* Curseur main au survol */

    -fx-text-fill: white; /* Couleur du texte */
    -fx-font-size: 16px; /* Taille de la police */    
    -fx-font-weight: bold; /* Texte en gras */
    -fx-font-family: Arial, sans-serif; /* Police du texte */
    -fx-alignment: center; /* Centrer le texte */
    -fx-text-transform: uppercase; /* Texte en majuscules */



}
.button:pressed {
    -fx-effect: dropshadow(gaussian, #0C2B45, 5, 0.5, 0, 2); /* Réduction de l'ombre au clic */
    -fx-translate-y: 2; /* Déplacement vers le bas pour effet de clic */
}
